
.stupid-box-thing-that-took-forever-to-figure-out{
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
}

.stupid-box-thing-that-took-forever-to-figure-out img,
.stupid-box-thing-that-took-forever-to-figure-out p {
    margin: 20;
}

.container p {
    margin-top: 2%;
}

#me{
    height: 300px;
}

#text-about-me{
    font-size: 30;
    width: 40%;
}